#logo {
  display: flex;
}

#logo img {
  width: 25%;
  margin: auto;
}

.branco {
  color: white;
  font-weight: 400;
  text-decoration: none;
}


@media (max-width: 768px) {
  #logo img {
    width: 50%;
  }
}
