body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
}
header {
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header h1 {
  margin: 0;
  font-size: 1.2rem;
}
header div a {
  color: white;
  text-decoration: none;
  /* font-weight: bold; */
  margin-left: 15px;
}
#menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
#drawer {
  position: fixed;
  top: 0;
  left: -220px;
  width: 200px;
  height: 100%;
  background: #6f42c1;
  color: white;
  padding-top: 60px;
  z-index: 1000;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#drawer.show {
  left: 0;
}
#drawer a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.table-container {
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background: #6f42c1;
  color: white;
}
tr:nth-child(even) {
  background: #f2f2f2;
}
.status-iniciada,
.status-concluída,
.status-cancelada {
  display: flex; /* ativa flexbox */
  align-items: center; /* centraliza verticalmente */
  width: 50%;
  margin: 10px auto;
  justify-content: center; /* centraliza horizontalmente */
  background-color: #0d6efd; /* exemplo azul, muda para cada status */
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 8px;
  min-width: 60px; /* opcional: largura mínima para uniforme */
  height: 25px; /* altura fixa para centralizar verticalmente */
  text-align: center; /* garante alinhamento do texto */
}

#user-avatar {
  border-radius: 50%;
}

#prin {
  display: flex;
  align-items: center;
}

#prin img {
  margin-right: 10px;
}

.status-concluída {
  background-color: #198754;
}
.status-cancelada {
  background-color: #dc3545;
}

.footer {
  /* background-color: rgba(255, 255, 255, 0.7); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid #ddd;
  color: white;
  display: flex;
  justify-content: space-around;
}

.container-f {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  header div a {
    display: none;
  }
  #menu-toggle {
    display: inline-block;
  }
  .container-f {
    display: none;
  }
}
